.VSCodeCounter
.vscode
__pycache__
*.7z
*.zip
*.tar
*.egg-info
dist
build
*.so
temp
.pytest_cache/
Log/
examples/
data/
src/visual_servo/dataset/
runs/
src/data_collection/camera/
src/visual_servo/debug.txt

